[user]
        name = chris
        email = chris@localhost
[core]
        editor = emacs
[color]
        ui = true
[credential]
        helper = cache
[alias]
        lag = log --all --graph --pretty=format:'%Cgreen%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative
